:root {
  --color-white: #ffffff;
  --color-light: #f0eff5;
  --color-gray-light: #c7c1c1;
  --color-gray-dark: #706d6d;
  --color-dark: #141414;
  --color-primary: rgb(71, 7, 234);
  --color-success: rgb(223, 128, 128);
  --color-danger: rgb(252, 17, 17);
  --color-warning: rgb(211, 244, 22);
  --color-purple: rgb(95, 54, 198);

  --color-primary-light: rgb(198, 190, 219);
  --color-success-light: rgb(211, 234, 7);
  --color-danger-light: rgb(192, 52, 52);
  --color-purple-light: rgb(133, 115, 177);

  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
}

/* Dark theme variables  */
.dark-theme{
  --color-white:#100101;
  --color-light:#39383d;
  --color-dark:#fcf6f6;
  --color-gray-dark:#eddfdf;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: var(--color-light);
  font-family: poppins, sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
}

img {
  width: 100%;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.86rem;
  font-weight: 500;
}

h6 {
  font-size: 1.0rem;
}

p {
  font-size: 0.86rem;
  color: var(--color-gray-dark);
}

.small {
  font-weight: 300;
  font-size: 0.77rem;
}
.text-muted {
  color: var(--color-gray-light);
}
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.purple {
  color: var(--color-purple);
}

.bg-primary {
  background: var(--color-primary);
  box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}
.bg-danger {
  background: var(--color-danger);
  box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}
.bg-success {
  background: var(--color-success);
  box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}
.bg-purple {
  background: var(--color-purple);
  box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}
.bg-dark {
  background: var(--color-dark);
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.bg-purple-light{
  background: var(--color-purple-light );
}
.bg-danger-light{
  background: var(--color-danger-light );
}
.bg-primary-light{
  background: var(--color-primary-light );
}
.bg-success-light{
  background: var(--color-success-light );
}

/* =====================NAV BAR============== */
nav {
  width: 100%;
  background: var(--color-white);
  padding: 1rem 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

nav img.logo {
  width: 7rem;
}

nav .search-bar {
  background: var(--color-light);
  padding: var(--padding-1) var(--padding-2);
  width: 32vw;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-2);
  gap: 1rem;
  color: var(--color-gray-light);
  position: absolute;
  left: 15%;
}

nav .search-bar input[type="search"] {
  color: var(--color-dark);
  background: transparent;
  width: 100%;
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray-dark);
}

nav .profile-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

nav .profile-area .theme-btn {
  display: flex;
  background: var(--color-light);
  width: 5rem;
  height: 2rem;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

nav .profile-area .theme-btn span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

nav .profile-area .theme-btn .active {
  background: var(--color-dark);
  color: var(--color-light);
  border-radius: var(--border-radius-2);
}

nav .profile-area .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .profile-area .profile-photo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

nav .profile-area button {
  display: none;
}

/* Dropdown profile */
nav .profile-area .expand-more{
  display: inline-block;
  position: relative;
  cursor: pointer;
}
nav .profile-area .dropdown-content{  
  display: none;
  position: absolute;
  left: -400%;
  background: var(--color-light);
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(244, 238, 238, 0.2);
  z-index: 1;
}

nav .profile-area .dropdown-content a{
  color: var(--color-dark);
  padding: var(--padding-1);
  text-decoration: none;
  display: block;
  transition:300ms ease all;
}

nav .profile-area .dropdown-content a:hover{
  background: var(--color-gray-light);
}
/* ==================Aside and Sidebar */
main {
  display: grid;
  /* grid-template-columns: 15rem auto 30rem; */
  grid-template-columns: 1fr 2.8fr 2fr;

  /* THIS WILL GENERATE HORIZONATL SCROLL BAR */
  /* grid-template-columns: 20% auto 30%; */

  gap: 2rem;
  width: 96%;

  margin: 1rem auto 4rem;

}

main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
}
/* ==========ONLY ON MOBILE AND TABLETS */
main aside button#close-btn {
  display: none;
}

main aside .sidebar a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-gray-light);
  position: relative;
}

main aside .sidebar a span {
  font-size: 1.7rem;
  margin-left: 3rem;
  transition: all 300ms ease;
}
main aside .sidebar a.active {
  background: var(--color-white);
  color: var(--color-primary);
}

main aside .sidebar a.active:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

main aside .sidebar a:hover {
  color: var(--color-primary);
}

main aside .sidebar a:hover span {
  margin-left: 2rem;
}

main aside .sidebar h4 {
  font-weight: 500;
}

/* ================Updates======= */
main aside .updates {
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  text-align: center;
  padding: var(--card-padding);
}
main aside .updates span {
  font-size: 2.8rem;
}
main aside .updates h4 {
  margin: 1rem 0;
}

main aside .updates a {
  display: block;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 0.8rem 0;
  margin-top: 2rem;
  transition: all 300ms ease;
}

main aside .updates a:hover {
  box-shadow: 0 1rem 2rem var(--color-primary-light);
}

/* ==========middle============== */
main section.middle .header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

main section.middle .header input[type='date']{
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-gray-dark);
}

main section.middle .cards{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 1.5rem;
}

main section.middle .cards .card{
    background: linear-gradient(#ff796f, #bd261b);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color:white;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.5rem 3rem var(--color-danger-light);
    transition: all 300ms ease;
    min-width: 20rem;
}

main section.middle .cards .card:hover{
    box-shadow: none;
}

main section.middle .cards .card:nth-child(2){
    background: linear-gradient(#78f191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.2);
}

main section.middle .cards .card:nth-child(3){
    background: linear-gradient(#5d70ff,#5719c2);
    box-shadow: 0 2rem 3rem var(--color-primary-light);
}

main section.middle .cards .card:hover{
    box-shadow: none;
}

main section.middle .card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main section.middle .card .top .left{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

main section.middle .card .top .left h2{
    font-weight: 200;
    font-size: 1.4rem;
}


/* ==============own css================ */
main section.middle .card .top  img.img-coin{
  /* height: 1.7rem;
  width: 2.0rem; */
  max-width: 20%;
  height: auto;
  padding: 0.3rem;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius-2);
}

main section.middle .card .top .card-company{
  width:3rem;
}


main section.middle .card .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.0rem 0rem;
  /* padding: var(--padding-1); */
}

main section.middle .card .middle h1{
  font-size: 1.7rem;
}

main section.middle .card .middle  img.chip{
  max-width: 15%;
  height: auto;
}

main section.middle .card .bottom{
  display: flex;
  justify-content: space-between;
}
main section.middle .card .bottom .right{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;

}

main section.middle .card .bottom small{
  font-weight: 300;
  font-size: 0.7rem;
  
}

main section.middle .card .bottom h5{
  font-weight: 500;
  font-size: 0.7rem;
  margin-right: 1rem; 
}

/* ===================MONTHLY REPORT============== */
main .monthly-report{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}

main .monthly-report h1{
  font-weight: 700;
  font-size: 1.8rem;
}

/* ===============FAST PAYMENT */
 main .fast-payment{
  margin-top: 2rem;
  display: flex;
  align-self: center;
  gap: 2rem ;
}
main .fast-payment .badges{
  display: flex;
  gap: 1rem;
  align-self: center;
  flex-wrap: wrap;
  max-width: 100%;
}

main .fast-payment .badge span{
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

main .fast-payment .badge{
  padding: 0.6rem var(--card-padding);
  background: var(--color-white);
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 300ms ease;

}
main .fast-payment .badge:hover{
  box-shadow: 0 0 1.5rem var(--color-primary-light);
  cursor: pointer;
}

main .fast-payment .badge:first-child span{
  display: flex;
  align-self: center;
  justify-content: center;
  height: fit-content;
  font-size: 1.5rem;
}

main .fast-payment .badge div{
  display: flex;
  gap: 2rem;
  align-self: center;
} 

/* ==========================CANVAS CHART============= */
canvas#chart{
  background: var(--color-white);
  max-width: 100%;
  margin-top: 2rem;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}
/* ================INVESTMENTS============ */
main section.right .investments{
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  height: 300px;
  overflow-y: auto;
  
  
}
main section.right .investments::-webkit-scrollbar-thumb{
  background-color: var(--color-light);
  outline: 1px solid rgb(220, 203, 203);
}
main section.right .investments::-webkit-scrollbar {
  width: 1em;
}
 
main section.right .investments::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(220, 146, 146, 0.3);
}




main section.right .investments img{
  width: 2.4rem;
}




main section.right .investments .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-padding);
  padding-bottom: 0;

}

main section.right .investments .header a{
  display: flex;
  align-items: center;
  color: var(--color-primary);
}
main section.right .investments .investment{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--card-padding);
  border-bottom: 1px solid var(--color-light);
  transition: all 300ms ease;
}

main section.right .investments .investment:last-child{
  border:none;
}

main section.right .investments .investment:hover{
  background: var(--color-light);
  cursor: pointer;
}



/* ---------------RECENT TRANSACTIONS----------------- */
 main  .recent-transactions{
  margin-top: 2rem;
}

main .recent-transactions img{
  width: 2.2rem;
  
}
main .recent-transactions .transaction{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem var(--card-padding);
  background-repeat: var(--card-border-radius);
  transition:  all 300ms ease;
}

main .recent-transactions .transaction:hover{
  background: var(--color-white);
  cursor: pointer;
}

main .recent-transactions .transaction .service{
  display: flex;
  gap: 1rem;
}

main .recent-transactions .transaction .service .icon{
  padding: var(--padding-2);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
}

main .recent-transactions .card-details{
  display: flex;
  align-items: center;
  gap: 1rem ;
}
main .recent-transactions .card-details .card{
  display: flex;
  width: 4.6rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-2 );
  height: 3rem;
}
main section .recent-transactions .header{
display: flex;
justify-content: space-between;
margin-bottom: 1rem;
}

main .recent-transactions .header a{
  display: flex;
  align-items: center;
  color: var(--color-primary);
}



/* ===========MEDIA QUERIES FOR TABLETS=========== */
@media screen and (max-width:1024px) {
  nav .search-bar{
    display: none;
  }

  nav .profile-area{
    gap: 2rem;
  }

  nav .profile-area button#menu-btn{
    display: inline;
    background: transparent;
    color: var(--color-dark);
  }
  

  main{
    grid-template-columns: 1fr;
  }

  main aside{
    position: fixed;
    background: var(--color-white);
    z-index: 3;
    top: 0;
    left: -100%;
    width: 22rem;
    height: 100vh;
    box-shadow: 2rem 0 2rem var(--color-primary-light);
    display: none;
  }
  main aside.show-sidebar{
    animation: showSidebar 1000ms ease forwards;

  }
  main aside.hide-sidebar{
    animation: hideSidebar 1000ms ease forwards;

  }

  @keyframes showSidebar{
    from{
      left:-100%;
    }
    to{
      left:0;
    }
  }
  @keyframes hideSidebar{
    from{
      left:0;
    }
    to{
      left:-100%;
    }
  }

  main aside button#close-btn{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 4;
    background: transparent;
    color: var(--color-dark);
  }

  button:hover{
    cursor: pointer;
  }

  main aside .sidebar{
    margin-top: 4rem ;
  }

  main aside .updates{
    display: none;
  }

  main section.middle .cards{
    grid-template-columns: 1fr 1fr;
  }

  main canvas{
    margin: 3rem 0 1rem ;
  }

  main section.right .recent-transactions{
    margin-top: 3rem;
  }
}

/* ===============MEDIA QUERY FOR MOBILES============ */
@media screen and (max-width:600px){

  nav .profile-area{
    gap: 2.6rem;
  }

  nav .profile h5,
  nav .profile span{
    display: none;
  }

  main section.middle .cards{
    grid-template-columns: 1fr;
  }
  main section.middle .fast-payment{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 1.4rem;
  }
}